<!DOCTYPE html>
<html>
  <head>
    <title>About the NFL</title>
    <link rel="stylesheet" href="../styles/project.css">
    <script src="../controls/widget.js"></script>
    <script src="../controls/sidebar.js"></script>
    <script src="../controls/topbar.js"></script>
  </head>
  <body>
    <topbar-component></topbar-component>
    <sidebar-component items='["Home"]'></sidebar-component>
    <div class="content">
      <div class="col" style="max-width:350px;">
        <widget-component title="About the AFC">
          <div slot="widget-content">
            <p>The AFC originally started out as the American Football League (AFL) which was a seperate football league in the 1960s.
              It merged with the NFL and became the American Football Conference (AFC) in the year 1970. Three teams from the existing NFL 
              were placed into this new conference: the Baltimore Colts, the Cleveland Browns, and the Pittsburgh Steelers.
            </p>
          </div>
        </widget-component>
        <widget-component title="AFC Standings">
          <div slot="widget-content">
            <p><a href="https://www.espn.com/nfl/standings/_/group/conference">Link to current standings for the AFC</a></p>
          </div>
        </widget-component>
      </div>
      <widget-component title="AFC Logo">
          <div slot="widget-content">
              <img src="../images/afc.svg.png" alt="AFC Logo" title="Logo for the AFC" style="max-width:400px;max-height:400px;">
          </div>
      </widget-component>
      
        <widget-component title="Kansas City Chiefs" style="max-width:590px;">
          <div slot="widget-content">
            <img src="../images/chiefs.jpg" alt="Chiefs Helmet" title="Helmet of the Kansas City Chiefs" width="500" height="400">
            <p>The Kansas City Chiefs are the reigning AFC Champions as well as Super Bowl Champions. Their 2019 win was the first for the team since 1969.</p>
          </div>
        </widget-component>
    </div>
  </body>
</html>