<!DOCTYPE html>
<html>
  <head>
    <title>About the NFL</title>
    <link rel="stylesheet" href="../styles/project.css">
    <script src="../controls/widget.js"></script>
    <script src="../controls/sidebar.js"></script>
    <script src="../controls/topbar.js"></script>
  </head>
  <body>
    <topbar-component></topbar-component>
    <sidebar-component items='["Home"]'></sidebar-component>
    <div class="content">
      <div class="col" style="max-width:400px;">
        <widget-component title="About the NFC">
          <div slot="widget-content">
            <p>The NFC was created in the merge between the American Football League and the National Football League in 1970.
              It was composed of thirteen of the original 16 NFL teams, with the other three teams joining the AFC along with the
              former AFL teams.
            </p>
          </div>
        </widget-component>
        <widget-component title="NFC Standings">
          <div slot="widget-content">
              <p><a href="https://www.espn.com/nfl/standings/_/group/conference">Link to current standings for the NFC</a></p>
          </div>
        </widget-component>
      </div>
        <widget-component title="NFC Logo">
            <div slot="widget-content">
                <img src="../images/nfc.svg.png" alt="NFC Logo" title="Logo for the NFC" style="max-width:400px;max-height:400px;">
            </div>
        </widget-component>
    </div>
  </body>
</html>