table {
    border: 1px solid #abc;
}

th, td {
    border: thin solid #abc;
    padding: 0 1em;
}

img {
    margin: 0 1em;
}

html {
    font-family: sans-serif;
}

.content {
    display: flex;
    top: 90px;
    left: 210px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px
}